<!---div class="conatiner py-5">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
      <div class="bg-white shadow rouded p-4">
        <h1 class="display-6 text-dark">Créer une annonce</h1>
        <hr class="bg-dark mb-5">
        <form #offerForm="ngForm" (ngSubmit)="onSubmitOfferForm(offerForm)">
          <div class="form-group mb-3">
            <label for="offerTitleInput">Titre</label>
            <input type="text"  id="offerTitleInput" class="form-control" name="Titre" ngModel>
          </div>
          <div class="form-group mb-3">
            <label for="offerBrandInput">Marque</label>
            <input type="text"  id="offerBrandInput" class="form-control" name="Marque" ngModel>
          </div>
          <div class="form-group mb-3">
            <label for="offerModelInput">Modèle</label>
            <input type="text"  id="offerModelInput" class="form-control" name="Model" ngModel>
          </div>
          <div class="form-group mb-3">
            <label for="offerDescriptionInput">Description</label>
            <textarea  id="offerDescriptionInput" class="w-100 form-control" rows="5" name="Description" ngModel></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="offerPriceInput">Prix</label>
            <input type="number"  id="offerPriceInput" class="form-control" name="Prix" ngModel>
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" type="submit">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div--->


<div class="conatiner py-5">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
      <div class="bg-white shadow rouded p-4">
        <h1 class="display-6 text-dark">Créer une annonce</h1>
        <hr class="bg-dark mb-5">
        <form [formGroup]="offerForm" (ngSubmit)="onSubmitOfferForm()">
          <input type="text" formControlName="id" hidden>
          <div class="form-group mb-3">
            <label for="offerTitleInput">Titre</label>
            <input type="text"  id="offerTitleInput" class="form-control" formControlName="title" >
          </div>
          <div class="px-3" *ngIf="currentPhotoUrl && currentPhotoUrl !== ''">
            <img [src]="currentPhotoUrl" class="w-100 rounded">
          </div>
          <div class="mb-3">
            <label for="offerPhotoInput" class="form-label">Choisissez le fichier</label>
            <input type="file"  id="offerPhotoInput" class="form-control" formControlName="photo" (change)="onChangeOfferPhoto($event)">
          </div>
          <div class="form-group mb-3">
            <label for="offerBrandInput">Marque</label>
            <input type="text"  id="offerBrandInput" class="form-control" formControlName="brand" appUppercaseInput >
          </div>
          <div class="form-group mb-3">
            <label for="offerModelInput">Modèle</label>
            <input type="text"  id="offerModelInput" class="form-control" formControlName="model" >
          </div>
          <div class="form-group mb-3">
            <label for="offerDescriptionInput">Description</label>
            <textarea  id="offerDescriptionInput" class="w-100 form-control" rows="5" formControlName="description" ></textarea>
          </div>
          <div class="form-group mb-3">
            <label for="offerPriceInput">Prix</label>
            <input type="number"  id="offerPriceInput" class="form-control" formControlName="price" >
          </div>
          <div class="d-flex">
            <button class="btn btn-success mx-auto" type="submit" [disabled]="offerForm.invalid">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8 mx-auto m-5">
      <div class="bg-white shadow p-4 rounded">
        <h1 class="display-6 text-dark">Anonce Enregistré</h1>
        <hr class="bg-dark mb-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Photo</th>
              <th scope="col">Titre</th>
              <th scope="col">Marque</th>
              <th scope="col">Modèle</th>
              <th scope="col">Prix</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of offers; let i = index">
              <th scope="row"> {{ i }} </th>
              <th>
                <img *ngIf="item.photo" [src] = "item.photo | safeUrl" width="20%">
              </th>
              <td> {{item.title | firstCharUppercase}} </td>
              <td> {{item.brand }} </td>
              <td> {{item.model}} </td>
              <td> {{item.price | currency:'EUR':'symbol':'4.2-2':'FR' }} </td>
              <td>
                <button class="btn btn-primary" (click)="onEditOffer(item)">Modifier</button>
                <button class="btn btn-danger" type="button" (click)="onDeleteOffer(item.id)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


