<div class="container py-5">
  <h1 class="display-5 text-center my-5">Réinitialisation du mot de passe </h1>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <div class="bg-white shadow rounded p-5">
        <h2 class="fs-3 text-justify fw-light mb-4">Compléter par votre adresse email</h2>
        <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmitForgotPasswordForm()">
          <div class="form-group mb-3">
            <label for="email">Adresse Email</label>
            <input type="email" class="form-control" placeholder="example@example.com" id="email" formControlName="email">
          </div>
          <div class="d-flex flex-column">
            <button class="btn btn-primary mx-auto mb-3" type="submit" [disabled]="ForgotPasswordForm.invalid">Réinitialiser</button>
            <div class="alert alert-success" role="alert" *ngIf="message">
              {{ message }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
